n8n_workflow.json
{
  "name": "Zoho SalesIQ to RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "salesiq-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Zoho SalesIQ",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "your-webhook-id"
    },
    {
      "parameters": {
        "functionCode": "// Extract data from Zoho SalesIQ webhook\nconst body = $input.item.json.body;\n\nreturn {\n  session_id: body.visitor_id || body.chat_id,\n  message: body.message || body.question,\n  visitor_name: body.visitor_name,\n  visitor_email: body.visitor_email,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Extract SalesIQ Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://your-server:8000/chat",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{$json.session_id}}"
            },
            {
              "name": "message",
              "value": "={{$json.message}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Call RAG Chatbot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Format response for Zoho SalesIQ\nconst chatResponse = $input.item.json;\n\nreturn {\n  message: chatResponse.response,\n  session_id: chatResponse.session_id,\n  is_bot: true,\n  timestamp: chatResponse.timestamp,\n  metadata: {\n    is_new_issue: chatResponse.is_new_issue,\n    retrieved_articles: chatResponse.retrieved_articles\n  }\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "name": "Send to SalesIQ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - Zoho SalesIQ": {
      "main": [
        [
          {
            "node": "Extract SalesIQ Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SalesIQ Data": {
      "main": [
        [
          {
            "node": "Call RAG Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RAG Chatbot": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send to SalesIQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
